.form-login {
    margin-top : 85px;
    font-weight: normal;
}

.login-link-recover {
    margin-top    : 15px;
    font-size     : 18px;
    line-height   : 25px;
    letter-spacing: -0.015em;
    color         : #407bff;
    display       : block;
}

.login-link-register {
    margin-left: 10px;
    font-size           : 18px;
    line-height         : 25px;
    text-align          : center;
    letter-spacing      : -0.015em;
    text-decoration-line: underline;
    color               : #407BFF;
}

.login-submmit {
    margin-top   : 100px;
    margin-bottom: 30px;
}

.not-registered {
    font-weight   : bold;
    font-size     : 18px;
    line-height   : 25px;
    letter-spacing: -0.015em;
    text-align    : center;
    color         : #9e9e9e;
}