.Register-span-text {
    font-size     : 12px;
    line-height   : 10px;
    letter-spacing: -0.015em;
    color: #407BFF;
    mix-blend-mode: normal;
}

.register-button-cancelar{
    width: 180px;
    margin-right: 40px;
}

.register-button-cadastrar{
    width: 180px;
}

.register-input{
    margin-bottom: 20px;
}