.product-card-list {
    margin-bottom: 20px;
    border-radius: 10px;
    .product-currency{
        font-size: 14px;
    }
    .product-price{
        font-size: 18px;
    }
}

.product-card-list-image {
    width: 60%;
    //height: 60%;
}
.product-card-list-title {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;

}